/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Apr-2019, 16:44:12
    Author     : Your Name <Ishan Randika>
*/
#titleBar{
    -fx-background-color:  #009fff;
    -fx-background-insets: 0,1,2;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#btnClose{
    -fx-cursor: hand;
    -fx-background-color: 
        #ffffff,
        linear-gradient(#ffffff,  #ffffff),
        linear-gradient(#009fff,#00d2ff);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    /*-fx-padding: 3 30 3 30;*/
    /*-fx-text-fill: black;*/
    /*-fx-font-size: 14px;*/
}

#btnMin{
    -fx-cursor: hand;
    -fx-background-color: 
        #ffffff,
        linear-gradient(#ffffff,  #ffffff),
        linear-gradient(#009fff,#00d2ff);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}
#btnlogout{
    -fx-cursor: hand;
    -fx-background-color: 
        #ffffff,
        linear-gradient(#ffffff,  #ffffff),
        linear-gradient(#003399,#333333);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}

#bottom{
    -fx-background-color:#111224;
}

#tabPane{
 -fx-rippler-fill:firebrick !important;
    -fx-cursor:hand; 
    -fx-background-color: -mid-gray;
	
    -fx-base: #32baff;
    -fx-font-size: 15.0pt;
/*    -fx-font-weight:bold;*/
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-base,-30.0%), derive(-fx-base,-60.0%)),
        linear-gradient(to bottom, -light-black 2.0%, -dark-black 98.0%);
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    /*-fx-padding: 0.9em 0.416667em 0.9em 0.416667em;*/
    /*-fx-effect: dropshadow(two-pass-box,black,5.0,0.2,0.0,0.0);*/
}


#btnBetter{
    -fx-cursor: hand;
    -fx-font-weight:bold;
    /*-fx-font-size: 15.0pt;*/
    -fx-background-color:#32baff;
}
#btnPlayers{
    -fx-cursor: hand;
    -fx-font-weight:bold;
    -fx-background-color:#32baff;
}
#btnJudgers{
    -fx-cursor: hand;
    -fx-font-weight:bold;
    -fx-background-color:#32baff;
}
#pane01{
    -fx-cursor: hand;
     -fx-background-color: #ffffff;
   /*-fx-background-border: 3;*/ 
    /*-fx-background-radius: 10;*/ 
    -fx-effect: dropshadow(three-pass-box, #009fff, 10, 5, 0, 0);
    -fx-border-color: #ffffff;
    /*-fx-background-color: red;*/
     /*-fx-effect: dropshadow( one-pass-box , black , 8 , 0 , 0 , 0 );*/
    /*-fx-border-radius: 100px;*/
}

#btnbtRegister{
    -fx-cursor: hand;
    -fx-font-weight:bold;
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #333333;
}
#btnplRegister{
    -fx-cursor: hand;
    -fx-font-weight:bold;
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #333333;
}
#btnJuRegister{
    -fx-cursor: hand;
    -fx-font-weight:bold;
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #333333;
}

#btnBack{
    -fx-cursor: hand;
    -fx-background-color: 
        #ffffff,
        linear-gradient(#ffffff,  #ffffff),
        linear-gradient(#003399,#333333);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}

#btnRegisteredBetters{
    -fx-cursor: hand;
    -fx-font-weight:bold;
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #333333;
}

#btnRegisteredPlayers{
    -fx-cursor: hand;
    -fx-font-weight:bold;
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #333333;
}

#logo{
    -fx-cursor: hand;
}
#conditions{
    -fx-cursor: hand;
}
/*.tabPane.tab-header-area .tab-header-background {
    -fx-opacity: 0.0;
    -fx-background-color:#252525 !important;  	    
}

.tabPane.tab-header-area .jfx-rippler{
    -fx-rippler-fill:firebrick !important;
    -fx-cursor:hand;
}

.tabPane.tab-header-area  .tab-selected-line{
     -fx-stroke: firebrick !important;
}

.tabPane.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 13.5px;  before it was 12px 
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-cursor:hand;
}

.tabPane.tab:hover .tab-label{
	-fx-text-fill:white;
	-fx-background-color:red !important;	
	-fx-background-radius: 0.0;
}

.tabPane.tab:selected .tab-label{
	-fx-background-color:#FFFFFF27;
}*/